/*COLOR_THEME:default*/
:root {
  --gray-base:              #000;
  --gray-lv1:              #333;
  --gray-lv2:              #666;
  --gray-lv3:              #bbb;
  --gray-lv4:              #ddd;
  --gray-lv5:              #eee;
}
