$grid-columns: 24;
$grid-columns-padding-h: 30px;


$grid-breakpoints: (
        0: 0,
        1712: 1712px - $grid-columns-padding-h * 2 + 1,
        1136: 1136px - $grid-columns-padding-h * 2 + 1,
        560: 560px - $grid-columns-padding-h * 2 + 1,
        368: 368px - $grid-columns-padding-h * 2 + 1,
        176: 176px - $grid-columns-padding-h * 2 + 1
) !default;


$height-breakpoints: (
        400: 400px
) !default;
