*{
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body{
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $grey-lv1;
  font-family: "PingFang SC","Microsoft YaHei","微软雅黑","Helvetica Neue","Helvetica","Hiragino Sans GB","Arial",sans-serif;
}

iframe{
  border: none;
  width: 100%;
  height: 100%;
}

img{
  vertical-align: middle;
}

a{
  text-decoration: none;
  color: $primary-lv1;
  outline: none;
}

pre{
  margin: 0;
}

.#{$namespace}-hide{
  display: none;
}
.#{$namespace}-show{
  display: block;
}

.#{$namespace}-left{
  float: left;
}

.#{$namespace}-right{
  float: right;
}

.#{$namespace}-clear{
  clear: both;
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

.#{$namespace}-clear-child{
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

.#{$namespace}-overflow-hidden{
  overflow: hidden;
}
.#{$namespace}-overflow-auto{
  overflow: auto;
}

.#{$namespace}-likehide{
  position: absolute;z-index: -999;
}

.#{$namespace}-cut-str{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}